.body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    text-align:center;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    font-size: .5rem;
}

p {
width: 300px;
padding: 25px;
border: 10px solid #ce5ae6;
margin: 10px auto 10px auto;
text-align: center;
}


p.content {
    margin: 10px auto 10px auto;
    text-align: center;}



.startbtn {
        margin: 10px auto 10px auto;
        text-align: center;
    }